'scopeName': 'text.danger'
'name': 'DANGER'
'injectionSelector': 'comment, text.plain'
'patterns': [
  {
    'match': '(?<!\\w)@?(WARNING|ALERT|DANGER|ERROR|BUG|FIX)\\b'
    'name': 'storage.type.class.danger.${1:/downcase}'
  }
]
